# Environnement virtuel
.venv/
venv/
ENV/

# Variables d'environnement / Clés API
.env

# IntelliJ
.idea/

# VSCode
.vscode/

# Fichiers système Mac
.DS_Store

# Outputs
output/

# Caches Python
__pycache__/
*.pyc